@model List<PropertyStop_UI.Dtos.ProductImageDtos.PropertyImageDto>

<div class="single-post-image mb-5">
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Slider göstergeleri -->
        <div class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <!-- Sadece geçerli resim için göstergeler -->
                @if (!string.IsNullOrEmpty(Model[i].ImageUrl))
                {
                    <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                }
            }
        </div>

        <!-- Slider içeriği -->
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Count; i++)
            {
                <!-- Boş resimler için kontrol -->
                @if (!string.IsNullOrEmpty(Model[i].ImageUrl))
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@Model[i].ImageUrl" style="height:450px;" class="d-block w-100" alt="Image @(i + 1)">
                    </div>
                }
            }
        </div>

        <!-- Slider kontrolleri -->
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
