
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-address-book fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Kategori</p>
                    <h6 class="mb-0">@ViewBag.ActiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-briefcase fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Personel Sayısı</p>
                    <h6 class="mb-0">@ViewBag.ActiveEmployeeCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Daire Sayısı</p>
                    <h6 class="mb-0">@ViewBag.ApartmentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-percent fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Kira</p>
                    <h6 class="mb-0">@ViewBag.AverageProductPriceByRent</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-percent fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ort. Satış Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.AverageProductPriceBySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-percent fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ort. Oda Adedi</p>
                    <h6 class="mb-0">@ViewBag.AvaregeRoomCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.CategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-star fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Seçkin Kategori</p>
                    <h6 class="mb-0">@ViewBag.CategoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Pahalının Şehri</p>
                    <h6 class="mb-0">@ViewBag.CityNameMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Şehir Sayısı</p>
                    <h6 class="mb-0">@ViewBag.DifferentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-trophy fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Aktif Emlakçı</p>
                    <h6 class="mb-0">@ViewBag.EmployeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bookmark fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son İlanın Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.lastProductPrice</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-check-square fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Yeni emlak</p>
                    <h6 class="mb-0">@ViewBag.NewestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-check-circle fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Eski emlak</p>
                    <h6 class="mb-0">@ViewBag.OldestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-minus-square fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Pasif Kat. Sayısı</p>
                    <h6 class="mb-0">@ViewBag.PassiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-list-ol fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">İlan Sayısı</p>
                    <h6 class="mb-0">@ViewBag.ProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>